<app-notifications></app-notifications>
<div class="section__auth">
    
  <div class="auth-card">
    <form action="#" #loginForm="ngForm" (ngSubmit)="loginFormTemplate(loginForm)" autocomplete="off" class="auth-card__form">
      <h2 class="heading-secondary u-margin-bottom-small u-margin-top">
        Manager-App
      </h2>
      <div class="auth-card__form__group">
        <input 
          [(ngModel)]="login.email"
          name="email"
          #email="ngModel" 
          type="text" 
          class="auth-card__form__input" 
          type="email"
          required
          minlength="5" 
          placeholder="Email Address" 
          id="email">
        <label for="email" class="auth-card__form__label">Email Address</label>
        <p class="auth__error"  *ngIf="email.invalid && email.touched">The email adress is required</p>

      </div>
      <div class="auth-card__form__group">
        <input 
          [(ngModel)]="login.password" 
          name="password" 
          #pass="ngModel" 
          type="password" 
          class="auth-card__form__input" 
          placeholder="Password" 
          id="password"
          required
          minlength="5"
          type="password"
          >

        <label for="password" class="auth-card__form__label">Password</label>
      <p class="auth__error"  *ngIf="pass.invalid && pass.touched">The password is required</p>
        <!-- <p *ngIf="errorApi" class="auth__error">{{errorApi}}</p> -->
      </div>
      <div class="auth-card__form__group">
        <button #loginButton class="btn btn--red" type="submit"> Log in </button>
      </div>
      <div class="auth-card__form__group u-margin-bottom-small">
        <p class="paragraph u-center-text">Don't you have an account?  <span [routerLink]="['/auth/register']" style="font-weight: 500; text-decoration: underline; cursor: pointer;" > Register now </span> </p>
      </div>
    </form>
    <div class="auth-card__icon-box log">
      <img src="assets/img/file_type_angular_icon_130754.png" class="auth-card__icon" alt="angular icon">
    </div>
  </div>
</div>
