<div class="section-profile">
  <div class="profile-menu">
    <div class="sidebar-profile hidden">
      <ul class="sidebar-profile__list">
        <li class="sidebar-profile__list__item">
          <a class="sidebar-profile__link" href="#" >USER DATA</a>
        </li>
        <li class="sidebar-profile__list__item">
          <a class="sidebar-profile__link" href="#" >placeholder</a>
        </li>
        <li class="sidebar-profile__list__item">
          <a class="sidebar-profile__link" href="#" >placeholder</a>
        </li>
        <li class="sidebar-profile__list__item">
          <a class="sidebar-profile__link" href="#" >placeholder</a>
        </li>
      </ul>
    </div>
    <div class="profile-content">
      <div class="profile-content-display">
        <h1 class="heading-primary">PROFILE CONTENT</h1>
        <div class="profile-picture">
          <img #profilePic [src]="userData.img ? userData.img : 'assets/img/user-img-default.png'" alt="">
          <input #profilePicInput type="file" class="profile-picture__file" (change)="loadImagePrevUpload($event)">
          <i class="fas fa-camera"></i>
        </div>

        <div class="profile-form">
          <form [formGroup]="userProfileForm" (ngSubmit)="sendForm()" class="profile-form__form">
            
            <div class="profile-form__form__group">
              <label for="name" class="profile-form__form__label">Name</label>
              <input  
                
                formControlName="name"
                name="name" 
                id="name"
                type="text" 
                class="profile-form__form__input" 
                placeholder="{{userData.name}}" 
                >
                <p class="error-form"  *ngIf="isInvalid('name')">The name is required</p>

            </div>
            <div class="profile-form__form__group">
              <label for="email" class="profile-form__form__label">Email Address</label>
              <input 

                type="text" class="profile-form__form__input"  
                placeholder="{{userData.email}}" 
                id="email"
                formControlName="email"  
                name="email"
                >
                <p class="error-form"  *ngIf="isInvalid('email')">The email adress is required</p>

            </div>
            <div class="profile-form__form__group">
              <label for="password" class="profile-form__form__label">Password</label>
              <input 
                type="password" 
                class="profile-form__form__input" 
                placeholder="Password"  
                id="password"
                formControlName="password"  
                name="password" 
                >
                <p class="error-form"  *ngIf="isInvalid('password')">The password  is required</p>

            </div>
            <div class="profile-form__form__group">
              <label for="passwordConfirm" class="profile-form__form__label">Confirm Password</label>
              <input 
                type="password" 
                class="profile-form__form__input" 
                placeholder="Confirm Password"  
                formControlName="passwordConfirm"  
                name="passwordConfirm"
                id="passwordConfirm">
              <p class="error-form"  *ngIf="isInvalid('passwordConfirm')">The password confirmation doesnt match with the provided password</p>

            </div>
            <div class="profile-form__form__group">
              <button class="btn btn--red">UPDATE</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>