* {
  margin: 0;
  padding: 0;
}

*,
*::before, 
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px
  scroll-behavior: smooth;
  // @include responsive(big-desktop) {

  //   font-size: 75%;
  // }
  @include responsive(tab-land) {
    font-size: 56.25%;
  }
  @include responsive(tab-port) {
    font-size: 50%;
  }
  @include responsive(phone) {
    font-size: 50%;
  }
}
body {

  // background-color:rgba(230, 230, 250, 0.913);
}
