<div class="section-home">
  <div class="main-dashboard">
    <!-- <div class="welcome">
      <h2 class="heading-secondary"> WELCOME {{user.name}}, </h2>
      <p class="paragraph">Manager App is a simple project that i've developed to put in practise different tecnologies and frameworks like Node, MongoDB, NoSql, Express, Mongoose, JavaScript, TypeScript, Angular & React. 
        Please play around, the app is responsive and is connected to my API.
      </p>
    </div>
    <div class="steps">
      <h3 class="heading-tertiary steps--1">Adding a Workspace</h3>
      <p class="paragraph steps--1-description">
        Create or click on a workspace if you have already created one. It will redirect you to your new Space.
      </p>
      <h3 class="heading-tertiary steps--2">On your new Workspace</h3>
      <p class="paragraph steps--2-description">
        You can add cards. These cards works as an individual to do list. <br>
        You can delete them, update them.
      </p>
    </div> -->
    <div class="main-content-dashboard">
      <nav class="sidebar">
        <ul class="sidebar-nav">
          <li class="sidebar-nav__item">
            <a [routerLink]="['/v2/manager-app/home/workspaces']" routerLinkActive="router-link-active"  class="sidebar-nav__link">
              <span>WORKSPACES</span>
            </a>
        </li>
          <li class="sidebar-nav__item">
            <a [routerLink]="['/v2/manager-app/home/search']" routerLinkActive="router-link-active"  class="sidebar-nav__link">
              <span>FILTER</span>
            </a>
        </li>
          <li class="sidebar-nav__item">
            <a [routerLink]="['/v2/manager-app/home/add']" routerLinkActive="router-link-active" class="sidebar-nav__link">
              <span>ADD </span>
            </a>
        </li>
        </ul>
      </nav>
      <!-- CONTENIDO DINAMICO CON ROUTER OUTLET -->
      <!-- <div class="grid__workspace">
        <div [routerLink]="['/v2/manager-app/workspace', space._id]" *ngFor="let space of workspaces" class="workspace-card">{{space.title}}</div>
        <div (click)="onAddWorkspace()" class="workspace-card">ADD WORKSPACE</div>
      </div> -->
      <div class="dashboard-outlet">
       
        <router-outlet class="router__outlet"></router-outlet>
      </div>
    </div>
    </div>
</div>

<!-- <h1>SIDEBAR CONTENT</h1>
<router-outlet></router-outlet> -->
