.navbar {
  height: 5rem;
  color: $color-white;
  background-color: $color-angular-blue-dark;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  opacity: .80;
  // margin-bottom: 4rem;

  // align-items: center;
  @include responsive(phone) {
    // order: 1;
    position: fixed;
    margin-bottom: 0rem;
    z-index: 1000;
    bottom: 0;
  }


  &__link:link, 
  &__link:visited{
    color: $color-white;
    text-decoration: none;
    // background-color: khaki;

  }
 

  &__logo-box {
   flex: 0 0 20%;
   display: flex;
   justify-content: center;
   align-items: center;

  }
  &__logo {
    font-size: 4.4rem;
    
  }
  &__list {
    // flex: 0 0 80%;
    // width: 50%;
    // background-color: lightblue;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    // padding-right: 6rem;
    @include responsive(phone) {
      flex: 0 0 80%;
      // background-color: yellowgreen;
      justify-content: flex-end;
     }
    &-item {
      align-items: center;
      // background-color: lawngreen;
      display: flex;
      padding: 0 3rem;
      height: 5rem;
      // margin-right: 5px;
      // height: 2rem;
      @include responsive(phone) {
       padding: 0 2rem;
       margin-right: -0px;
      }
      &:hover,
      &:active {
        background-color: $color-angular-blue-light;
        cursor: pointer;
      }
    
      &-user-photo {
        // padding-top: 5px;
        width: 3.5rem;
        height: 3.5rem;
        // width: 7rem;
        // height: 7rem;
        border-radius: 50%;
        // padding-bottom: 8px;
      }
      &-icon--settings {
        font-size: 3rem;
        
       
      }
      &-icon--logout {
        font-size: 3rem;
      }
    }
  }



}

