<!-- <div class="section-workspace" [ngStyle]="{'background-image': 'url(' + theme +')'}"> -->
<div class="section-workspace" [ngStyle]="styles()">

  <div class="todoList-wrapper">
    <app-todolist-card *ngFor="let todoList of todoLists" class="card-grid" [todoListID]="todoList._id" [dataName]="todoList.name" [dataTodos]="todoList.todos"></app-todolist-card>
    
    <form (ngSubmit)="addNewTodoList(inputToDoList.value)" class="add__card">
      <input (keyup.enter)="addNewTodoList(inputToDoList.value)" autofocus="true" #inputToDoList type="text" placeholder="Add a new List">
      <button (click)="addNewTodoList(inputToDoList.value)" type="submit" class="add__card__button">NEW LIST</button>
    </form>
  </div>

</div>