<div class="grid__workspace">
  <div class="workspace-empty" *ngIf="!workspaces.length">
    <div class="welcome">
      <h2 class="heading-secondary"> WELCOME {{user.name}}, </h2>
      <p class="paragraph">Manager App is a simple project that i've developed to put in practise different tecnologies and frameworks like Node, MongoDB, NoSql, Express, Mongoose, JavaScript, TypeScript, Angular & React. 
        Please play around, the app is responsive and is connected to my API.
      </p>
    </div>
    <div class="steps">
      <h3 class="heading-tertiary steps--1">Adding a Workspace</h3>
      <p class="paragraph steps--1-description">
        Create or click on a workspace if you have already created one. It will redirect you to your new Space.
      </p>
      <h3 class="heading-tertiary steps--2">On your new Workspace</h3>
      <p class="paragraph steps--2-description">
        You can add cards. These cards works as an individual to do list. <br>
        You can delete them, update them.
      </p>
    </div> 
  </div>
  <div [routerLink]="['/v2/manager-app/workspace', space._id]" *ngFor="let space of workspaces" class="workspace-card">
    <span class="workspace-card__title">{{space.title}}</span>
    <img [src]="space.img" alt="" class="workspace-card__img">
  </div>
  <!-- <div (click)="onAddWorkspace()" class="workspace-card">ADD WORKSPACE</div> -->
</div>