@charset "UTF-8";
/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}
@keyframes moveToRightInfinite {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
    transform: translateX(5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}
.heading-secondary {
  font-weight: 600;
  font-size: 3.5rem;
  letter-spacing: 2px;
  margin-bottom: 5px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-image: linear-gradient(to right, #FF3366, #BA265D);
  -webkit-background-clip: text;
  color: transparent;
}
@media (max-width: 37.5em) {
  .heading-secondary {
    background-image: none;
    color: #fff;
  }
}
.paragraph {
  margin-bottom: 10px;
}
.u-center-text {
  text-align: center;
}
.u-margin-bottom-big {
  margin-bottom: 8rem;
}
.u-margin-bottom-medium {
  margin-bottom: 6rem;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
.u-margin-top {
  margin-top: 4rem;
}
.auth-card {
  position: relative;
  flex: 0 0 60%;
  width: 50%;
  align-self: center;
  display: flex;
  justify-content: start;
  align-content: space-around;
  background: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, #0d47a1 50%, #42a5f5 100%);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
@media (max-width: 75em) {
  .auth-card {
    flex: 0 0 90%;
    width: 90%;
  }
}
@media (max-width: 56.25em) {
  .auth-card {
    flex: 0 0 90%;
    width: 90%;
  }
}
@media (max-width: 37.5em) {
  .auth-card {
    flex: 0 0 100%;
    width: 100%;
    border-radius: 0px;
    background: none;
  }
}
.auth-card__icon-box {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
}
@media (max-width: 37.5em) {
  .auth-card__icon-box {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
  }
}
.auth-card__icon {
  align-self: center;
  height: 20rem;
  width: 20rem;
}
@media (max-width: 37.5em) {
  .auth-card__icon {
    height: 15rem;
    width: 15rem;
  }
}
.auth-card__form {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.auth-card__form h2 {
  margin-bottom: 7rem;
}
@media (max-width: 37.5em) {
  .auth-card__form {
    flex: 0 0 100%;
  }
}
.auth-card__form__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
@media (max-width: 37.5em) {
  .auth-card__form__group {
    color: #fff;
  }
}
.auth-card__form__group button {
  align-self: center;
}
@media (max-width: 37.5em) {
  .auth-card__form__group button {
    margin-top: 6rem;
    margin-bottom: 6rem;
    color: #fff;
  }
}
.auth-card__form__group:not(:last-child) {
  margin-bottom: 2rem;
}
@media (max-width: 37.5em) {
  .auth-card__form__group:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
.auth-card__form__input {
  align-self: start;
  display: block;
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem 0.5rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-bottom: 2px solid black;
  width: 90%;
  transition: all 0.6s;
}
@media (max-width: 37.5em) {
  .auth-card__form__input {
    align-self: center;
    background-color: #fff;
    color: #333;
  }
}
.auth-card__form__input:focus {
  outline: none;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid #55c57a;
}
.auth-card__form__input::-webkit-input-placeholder {
  color: #333;
}
.auth-card__form__input:focus:invalid {
  border-bottom: 3px solid #FF3366;
}
.auth-card__form__label {
  margin-left: 2rem;
  margin-top: 0.7rem;
  font-size: 1.4rem;
  display: block;
  transition: all 0.3s;
  width: 90%;
}
@media (max-width: 37.5em) {
  .auth-card__form__label {
    margin-left: 3.2rem;
    color: #fff;
  }
}
.auth-card__form__input:placeholder-shown ~ .auth-card__form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.error-form {
  border-radius: 12px;
  background-color: lightcoral;
  color: white;
  padding: 1rem;
  margin-top: 4px;
}
.auth__error {
  padding: 1rem;
  border-radius: 12px;
  background-color: lightcoral;
  text-align: center;
  color: white;
  width: 90%;
}
@media (max-width: 37.5em) {
  .auth__error {
    align-self: center;
  }
}
@media (max-width: 37.5em) {
  .auth-card--register {
    margin-top: 20rem;
  }
}
.auth-card--register > h2 {
  margin-bottom: 3rem;
}
.btn {
  text-transform: uppercase;
  padding: 1.5rem 5rem;
  border-radius: 10rem;
  transition: all 0.2s;
  border: none;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
  outline: none;
}
.btn--red {
  background-color: #cb2b39;
}
.btn--add {
  align-self: center;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}
.btn:active, .btn:visited {
  outline: none;
  transform: translateY(0px);
}
.workspace-card {
  position: relative;
  display: flex;
  height: 10rem;
  width: 20rem;
  justify-content: center;
  align-items: center;
  background-color: lightsalmon;
  margin-bottom: 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  background-color: purple;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 20px;
}
@media (max-width: 37.5em) {
  .workspace-card {
    width: 30rem;
    height: 15rem;
    margin-right: 0px;
  }
}
.workspace-card:hover {
  transform: scale(1.2);
}
.workspace-card:active {
  transform: scale(1);
}
.workspace-card--1 {
  background-size: cover;
  background-image: url('pexels-arnie-chou-1229042.jpg');
}
.workspace-card--2 {
  background-size: cover;
  background-image: url('pexels-aviv-perets-3274903.jpg');
}
.workspace-card--3 {
  background-size: cover;
  background-image: url('pexels-eberhard-grossgasteiger-572897.jpg');
}
.workspace-card--4 {
  background-size: cover;
  background-image: url('pexels-felix-mittermeier-1146134.jpg');
}
.workspace-card--5 {
  background-size: cover;
  background-image: url('pexels-huebert-world-3213982.jpg');
}
.workspace-card--6 {
  background-size: cover;
  background-image: url('pexels-祝-鹤槐-1715495.jpg');
}
.workspace-card__title {
  position: absolute;
}
.workspace-card__img {
  height: 10rem;
  width: 20rem;
  background-size: cover;
}
@media (max-width: 37.5em) {
  .workspace-card__img {
    width: 30rem;
    height: 15rem;
  }
}
.selectedCard {
  transform: scale(1.2);
  z-index: 100;
  border: 2px solid blue;
}
.overlay {
  position: absolute;
  min-height: 100%;
  height: -webkit-max-content;
  height: max-content;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 1000;
}
.modal {
  height: 50%;
  width: 70%;
  background-image: linear-gradient(to right bottom, rgba(66, 165, 245, 0.6), rgba(13, 71, 161, 0.4));
  z-index: 2000;
  position: absolute;
  border-radius: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.modal-content {
  display: flex;
  flex-direction: column;
}
.modal__title {
  text-align: center;
  padding: 3rem;
  color: #fff;
}
.modal__body {
  display: flex;
  color: #fff;
  text-align: center;
  padding: 2rem;
  flex-wrap: wrap;
}
.modal__button {
  padding: 2rem;
  align-self: center;
}
@media (max-width: 37.5em) {
  .modal__button {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
.modal__button button:not(:last-child) {
  margin-right: 5rem;
}
@media (max-width: 37.5em) {
  .modal__button button:not(:last-child) {
    margin-right: 0rem;
  }
}
.modal__button--confirm {
  background-color: #28b485;
}
.modal__button--cancel {
  background-color: #b4252b;
}
.modal__close {
  cursor: pointer;
  align-self: flex-end;
  color: #fff;
  text-align: end;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 3rem;
}
.modal__form {
  align-self: center;
}
.modal__label {
  width: 100%;
  text-align: start;
  padding: 0.4rem 2rem;
  transition: all 0.1s;
}
.modal__input {
  font-size: inherit;
  font-family: inherit;
  width: 100%;
  padding: 1.8rem 2rem;
  border-radius: 6px;
}
.modal__input:placeholder-shown ~ .modal__label {
  visibility: hidden;
}
.hidden {
  display: none;
}
/* align-content: center; */
/* align-items: center; */
.notification {
  position: fixed;
  height: 30rem;
  width: 30rem;
  border-radius: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 80000;
  transition: all 0.6s;
}
.notification__action {
  padding: 4rem;
  font-size: 8rem;
  color: #28b485;
}
.notification__message {
  font-weight: 600;
}
.notification--hidden {
  display: none;
}
.wuops {
  color: #b4252b;
}
.searching {
  color: #edae2c;
}
.loading i {
  font-size: 5rem;
}
.search__fail {
  background-color: rgba(203, 43, 57, 0.4);
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 2rem 3rem;
  margin-top: 10px;
}
.navbar {
  height: 5rem;
  color: #fff;
  background-color: #0d47a1;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  opacity: 0.8;
  z-index: 200000;
}
@media (max-width: 37.5em) {
  .navbar {
    position: fixed;
    margin-bottom: 0rem;
    z-index: 1000;
    bottom: 0;
  }
}
.navbar-down-list {
  cursor: unset;
  visibility: hidden;
  color: #333;
  background-color: white;
  list-style: none;
  width: 100%;
  position: absolute;
  top: 100%;
  right: 0%;
  z-index: 90000;
  padding: 2rem 3rem;
}
@media (max-width: 37.5em) {
  .navbar-down-list {
    top: -200%;
    width: 60%;
    right: -5%;
    padding: 2rem 2rem;
  }
}
.navbar-down-list__item {
  padding: 2rem;
}
.navbar__link:link, .navbar__link:visited {
  color: #fff;
  text-decoration: none;
}
.navbar__list-item:hover .navbar-down-list {
  visibility: visible;
}
.navbar__logo-box {
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__logo {
  font-size: 4.4rem;
}
.navbar__list {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 37.5em) {
  .navbar__list {
    flex: 0 0 80%;
    justify-content: flex-end;
  }
}
.navbar__list-item {
  align-items: center;
  display: flex;
  padding: 0 3rem;
  height: 5rem;
}
@media (max-width: 37.5em) {
  .navbar__list-item {
    padding: 0 2rem;
    margin-right: 0px;
  }
}
.navbar__list-item:hover, .navbar__list-item:active {
  background-color: #42a5f5;
  cursor: pointer;
}
.navbar__list-item-user-photo {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}
.navbar__list-item-icon--settings {
  font-size: 3rem;
}
.navbar__list-item-icon--logout {
  font-size: 3rem;
}
.main-content-dashboard {
  display: flex;
  width: 100%;
}
@media (max-width: 37.5em) {
  .main-content-dashboard {
    flex-direction: column;
  }
}
.sidebar {
  flex: 0 0 22%;
}
@media (max-width: 37.5em) {
  .sidebar {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.sidebar-nav {
  position: relative;
  padding: 4rem 0;
  list-style: none;
}
@media (max-width: 37.5em) {
  .sidebar-nav {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-bottom: 1rem;
  }
}
.sidebar-nav__item {
  margin-bottom: 4px;
  padding: 2rem;
  background-color: #42a5f5;
  width: 100%;
  border-radius: 14px;
  transition: all 0.3s;
}
@media (max-width: 37.5em) {
  .sidebar-nav__item {
    width: 75%;
    align-self: center;
    align-items: center;
  }
}
.sidebar-nav__item:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #0d47a1;
}
.sidebar-nav__link:link, .sidebar-nav__link:visited {
  text-decoration: none;
  color: #fff;
}
.sidebar-profile {
  width: 18%;
  background-color: #333;
}
@media (max-width: 56.25em) {
  .sidebar-profile {
    width: 100%;
    bottom: 8%;
  }
}
@media (max-width: 37.5em) {
  .sidebar-profile {
    display: none;
    position: fixed;
    width: 100%;
    bottom: 6%;
  }
}
.sidebar-profile__list {
  padding-top: 2rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  list-style: none;
  text-align: center;
}
@media (max-width: 56.25em) {
  .sidebar-profile__list {
    padding-top: 0rem;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (max-width: 37.5em) {
  .sidebar-profile__list {
    width: 100%;
    bottom: 8%;
    flex-direction: column;
  }
}
.sidebar-profile__list__item {
  padding: 2rem;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
.sidebar-profile__list__item:hover {
  background-color: #cb2b39;
}
.sidebar-profile__list__item:active {
  background-color: #b4252b;
}
.sidebar-profile__link:visited, .sidebar-profile__link:link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(30, 30, 30, 0.25);
  text-align: center;
  cursor: pointer;
}
@media (max-width: 37.5em) {
  .navigation__button {
    top: 4rem;
    right: 4rem;
  }
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#42a5f5, #0d47a1);
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}
@media (max-width: 37.5em) {
  .navigation__background {
    height: 4rem;
    width: 4rem;
    top: 5rem;
    right: 5rem;
  }
}
.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  padding: 1rem;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 250%;
  transition: all 0.4s;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #eb2f64;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #1e1e1e;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}
.section__auth {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: linear-gradient(145deg, #0d48a164, #42a4f584);
  height: 100vh;
}
@media (max-width: 37.5em) {
  .section__auth {
    background: none;
    background: linear-gradient(150deg, rgba(13, 71, 161, 0.9), rgba(66, 165, 245, 0.9));
  }
}
.section-home {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
@media (max-width: 75em) {
  .section-home {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 56.25em) {
  .section-home {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 37.5em) {
  .section-home {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.welcome h2 {
  color: #333;
}
.main-dashboard {
  width: 75%;
  align-self: center;
  align-items: center;
  flex: 0 0 100%;
  padding: 2rem;
}
@media (max-width: 75em) {
  .main-dashboard {
    flex: 1;
    padding: 6rem;
    width: 100%;
  }
}
@media (max-width: 56.25em) {
  .main-dashboard {
    flex: 1;
    padding: 4rem;
  }
}
@media (max-width: 37.5em) {
  .main-dashboard {
    width: 100%;
    padding-bottom: 9rem;
  }
}
.grid__workspace {
  display: flex;
  margin-top: 4rem;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 37.5em) {
  .grid__workspace {
    margin-top: 5rem;
  }
}
.grid__workspace--add {
  margin-top: 0rem;
  margin-left: 1rem;
}
.grid__add {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add__form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.workspace-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form-group {
  align-self: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.workspace-form__title-label {
  padding: 1rem 2rem;
}
.workspace-form__title-input {
  font-size: inherit;
  font-family: inherit;
  padding: 1rem 2rem;
  border: none;
  border-bottom: 2px solid #333;
}
.workspace-form__title-input:focus {
  outline: none;
}
.workspace-form__title-input:placeholder-shown ~ .workspace-form__title-label {
  visibility: hidden;
}
.grid__search {
  margin-top: 1.8rem;
}
.search-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.search-group__input {
  width: 80%;
  align-self: center;
  padding: 2rem 3rem;
  border-radius: 14px;
  font-size: inherit;
  font-family: inherit;
}
.search-group__label {
  padding: 2rem 3rem;
  font-size: 4rem;
}
.dashboard-outlet {
  flex: 0 0 78%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.workspace-empty {
  justify-content: center;
  align-self: center;
}
.section-workspace {
  min-height: 100vh;
  padding: 3rem;
}
.todoList-wrapper {
  padding: 2rem;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  z-index: 1000;
}
@media (max-width: 37.5em) {
  .todoList-wrapper {
    justify-content: center;
  }
}
.todoList-card {
  background-color: rgba(119, 119, 119, 0.9);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 10px;
  margin-right: 20px;
  transition: all 0.3s;
}
@media (max-width: 37.5em) {
  .todoList-card {
    margin-right: 0px;
    padding: 2rem 4rem;
  }
}
.todoList-card * {
  margin-bottom: 4px;
}
.todoList-card:hover {
  transform: scale(1.1);
}
.todoList-card__head__title {
  color: #fff;
  background: transparent;
  padding: 2rem;
  border-radius: 10px;
  border: none;
  font-size: inherit;
  padding: 2rem 3rem 0.5rem 1rem;
}
@media (max-width: 37.5em) {
  .todoList-card__head__title {
    width: 250px;
  }
}
.todoList-card__head__title + .fa-trash-alt {
  margin-left: -2.5rem;
  color: white;
}
.todoList-card__head__title + .fa-trash-alt:hover {
  color: #FF3366;
  cursor: pointer;
}
.todoList-card__head__title:focus {
  background-color: rgba(66, 165, 245, 0.4);
}
.todoList-card__head__title:focus + .fa-trash-alt {
  visibility: hidden;
}
.todoList-card__add-item__input {
  padding: 2rem;
  border-radius: 10px;
  border: none;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  font-size: inherit;
}
@media (max-width: 37.5em) {
  .todoList-card__add-item__input {
    position: relative;
    width: 250px;
  }
}
.todoList-card__add-item__input + .fa-pencil-alt {
  margin-left: -2.5rem;
}
.todoList-card__add-item__input:focus + .fa-pencil-alt {
  visibility: hidden;
}
.drop-drop {
  background-color: rgba(66, 165, 245, 0.4);
}
.todo {
  padding: 2rem;
  font-size: inherit;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: none;
}
@media (max-width: 37.5em) {
  .todo {
    width: 250px;
  }
}
.todo + .checkbox {
  margin-left: -2.5rem;
}
.todo:focus + .checkbox {
  visibility: hidden;
}
@media (max-width: 37.5em) {
  .add__card {
    width: 95%;
    display: flex;
    flex-direction: column;
  }
}
.add__card__button {
  width: 100%;
  height: 5rem;
  margin-top: 3px;
  background-color: rgba(116, 180, 52, 0.767);
  border-radius: 14px;
  font-size: inherit;
  color: #fff;
  cursor: pointer;
}
.add__card input {
  width: 100%;
  border: none;
  border-radius: 4px;
  margin-top: 5px;
  padding: 20px;
  border-style: none;
  color: var(--color-primary);
  background-color: #ebecf0;
  font-size: 1.6rem;
}
.workspace-theme {
  background-size: cover;
  position: absolute;
  z-index: 100;
}
.section-profile {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
@media (max-width: 37.5em) {
  .section-profile {
    padding: unset;
  }
}
.profile-menu {
  position: relative;
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 75em) {
  .profile-menu {
    width: 100%;
    height: 100%;
    overflow: unset;
  }
}
@media (max-width: 56.25em) {
  .profile-menu {
    flex-direction: column;
    overflow: unset;
  }
}
@media (max-width: 37.5em) {
  .profile-menu {
    width: 100%;
  }
}
.profile-content {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 4rem;
}
.heading-primary {
  align-self: start;
}
@media (max-width: 37.5em) {
  .heading-primary {
    align-self: center;
  }
}
.profile-content-display {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
}
.profile-content-display * :not(.profile-picture, .profile-picture img, .error-form) {
  margin-bottom: 2rem;
}
.profile-picture {
  align-self: center;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 50%;
  height: 21rem;
  width: 21rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.profile-picture img {
  align-self: center;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
}
.profile-picture__file {
  position: absolute;
  bottom: 0;
  color: transparent;
  padding: 1.5rem;
  cursor: pointer;
  z-index: 200;
}
.profile-picture__file:focus {
  outline: none;
}
.profile-picture__file::-webkit-file-upload-button {
  visibility: hidden;
}
.profile-picture i {
  bottom: 10px;
  color: white;
  font-size: 3.8rem;
  position: absolute;
  z-index: 100;
}
.profile-form {
  align-self: center;
  width: 80%;
}
.profile-form__form {
  display: flex;
  flex-direction: column;
}
.profile-form__form__group {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
  margin-bottom: 3rem;
}
@media (max-width: 37.5em) {
  .profile-form__form__group {
    width: 100%;
  }
}
.profile-form__form__input {
  font-size: inherit;
  font-family: inherit;
  padding: 1rem;
}

/*# sourceMappingURL=styles.css.map*/