<div class="grid__search">
  <div class="search-group">
    <!-- <label for="search" class="search-group__label">Search by "Workspace"</label> -->
    <input #searchInput (keyup)="search(searchInput.value)" type="text" id="search" class="search-group__input" placeholder="Search...">
    <p *ngIf="notMatch" class="search__fail"> This workspace doesn't exist </p>
  </div>
  <div *ngIf="!!!searching" class="grid__workspace">
    <div [routerLink]="['/v2/manager-app/workspace', space._id]" *ngFor="let space of filteredWorkspaces" class="workspace-card">
      <span class="workspace-card__title">{{space.title}}</span>
      <img [src]="space.img" alt="" class="workspace-card__img">
    </div>

  </div>
  <div *ngIf="searching" class="grid__workspace">
    <div class="loading"><i class="fas fa-sync fa-spin"></i> </div>

  </div>

</div>