<div class="section__auth">
  <div class="auth-card">
    <form  [formGroup]="registerForm" (ngSubmit)="sendForm()" autocomplete="off" class="auth-card__form">
      <h2 class="heading-secondary u-margin-bottom-small u-margin-top">
        Manager-App
      </h2>
      <div class="auth-card__form__group">
        <input 
        type="text" 
        class="auth-card__form__input" 
        placeholder="Name" 
        formControlName="name"
        name="name" 
        id="name">
        <label 
        for="name" 
        class="auth-card__form__label"
        >Name</label>
        <p class="auth__error" *ngIf="isInvalid('name')" >The name is required</p>
      </div>
      <div class="auth-card__form__group">
        <input 
        type="email" 
        class="auth-card__form__input" 
        formControlName="email"  
        name="email"
        placeholder="Email Address" 
        id="email">
        <label for="email" class="auth-card__form__label">Email Address</label>
        <p class="auth__error" *ngIf="isInvalid('email')" >The email adress is required</p>

      </div>
      <div class="auth-card__form__group">
        <input type="password" 
        class="auth-card__form__input" 
        placeholder="Password" 
        formControlName="password"  
        name="password" 
        id="password">
        <label for="password" class="auth-card__form__label">Password</label>
        <p class="auth__error" *ngIf="isInvalid('password')"  >The password is required</p>

      </div>
      <div class="auth-card__form__group">
        <input 
        type="password" 
        class="auth-card__form__input" 
        placeholder="Confirm Password" 
        formControlName="passwordConfirm"  
        name="passwordConfirm"
        id="passwordConfirm">
        <label for="passwordConfirm" class="auth-card__form__label">Confirm Password</label>
        <p class="auth__error"  *ngIf="isInvalid('passwordConfirm')"  >The password confirmation is required</p>
      </div>
      <div class="auth-card__form__group">
        <button class="btn btn--red" type="submit"> Sign In </button>
      </div>
      <div class="auth-card__form__group u-margin-bottom-small">
        <p class="paragraph u-center-text">Already registered? <span [routerLink]="['/auth/login']" style="font-weight: 500;" > Log in </span> </p>
      </div>
    </form>
    <div class="auth-card__icon-box">
      <img src="assets/img/file_type_angular_icon_130754.png" class="auth-card__icon" alt="angular icon">
    </div>
  </div>
</div>