.overlay {
  position: absolute;
  min-height: 100%;
  height: max-content;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 1000;

}

.modal {
  height: 50%;
  width: 70%;
   background-image: linear-gradient(
    to right bottom,
    rgba($color-angular-blue-light, 0.6),
    rgba($color-angular-blue-dark, 0.4)
  );
  z-index: 2000;
  position: absolute;
  border-radius: 14px;
  position: absolute;
  top: 50%;   
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  // align-items: center;
  @include responsive(phone) {
    height: 50vh;
    position: fixed;
  }
  &-content {
    display: flex;
    flex-direction: column;

  }
}
.modal__title {
  text-align: center;
  padding: 3rem;
  color: $color-white;
}
.modal__body {
  display: flex;
  color: $color-white;
  text-align: center;
  padding: 2rem;
  flex-wrap: wrap;
  & p {
    // width: 80%;
  }
}
.modal__button {

  padding: 2rem;
  align-self: center;
  @include responsive(phone) {
    display: flex;
    flex-direction: column;
    // background-color: yellowgreen;
    flex-grow: 1;
  }

  & button:not(:last-child) {
    margin-right: 5rem;
  @include responsive(phone) {
    margin-right: 0rem;
  }

  }
  &--confirm {
    background-color: $color-green-dark;
  }
  &--cancel {
    background-color: $color-angular-darker;
  }
  &--confirm, &--cancel {
  @include responsive(phone) {
    
  }

  }
}
.modal__close {
  cursor: pointer;
  align-self: flex-end;
  color: $color-white;
  text-align: end;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  // background-color: ivory;
  padding: 3rem;
}

.modal__form  {
  align-self: center;
}

.modal__label {
  width: 100%;
  text-align: start;
  padding: .4rem 2rem;
  transition: all .1s;
}
.modal__input { 
  font-size: inherit;
  font-family: inherit;
  width: 100%;
  padding: 1.8rem 2rem;
  border-radius: 6px;
}
.modal__input:placeholder-shown ~ .modal__label {
  visibility: hidden;
}







.hidden {
  display: none;
}
// .modal-workspace {
//   position: absolute;
//   top: 50%;   
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 50%;
//   color: var(--color-primary);
//   background-color: #fff;
//   padding: 6rem;
//   border-radius: 5px;
//   box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
//   z-index: 10;
// }

// .modal-overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.6);
//   backdrop-filter: blur(3px);
//   z-index: 5;
// }

// .modal__button {
//   margin-top: 10px;
//   border-radius: 10px;
//   height: 4rem;
//   width: 40%;
//   align-self: center;
//   background-color: var(--color-yellow);
//   cursor: pointer;
// }
// .modal__button:focus {
//   outline: none;
// }

// .modal__title {
//   text-decoration: none;
//   height: 4rem;
//   font-family: inherit;
//   font-size: inherit;
//   border-radius: 10px;
// }
// .modal__title:focus {
//   outline: none;
// }

// .modal-content {


//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   width: 100%;
//   height: 100px;
  /* align-content: center; */
  /* align-items: center; */

  
// }
